body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

#badgeInput {
  display: none;
}

#badgeLabel {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#badgeLabel:hover {
  background-color: #0056b3;
}

#previewBadge {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #007bff;
}

#previewBadge img {
  width: 100%;
  height: auto;
}

.success-message {
  display: none; /* Initially hide the success message */
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
